<!-- VIEW PAGE -->
{% extends 'layout.html' %}

{% block content %}
<!-- CUSTOM STYLES -->
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/view.css') }}">

{% include 'partials/_messages.html' %}

<h1 id="title">Houses</h1>

<div class="view-houses">
  {% if houses %}
  {% for house in houses %}

  <div class="card-house card {% if house.disable %} disable {% endif %}">
    <h3 class="text-dark">{{ house.location }}</h3>
    <p class="text-dark">$ {{ house.price }}</p>

    <div class="actions-view">
      <a class="buttons" href="{{ url_for('houses.update', id = house.id) }}">Update</a>
      <a class="btn btn-danger delete-button" href="{{ url_for('houses.delete', id = house.id) }}">Delete</a>

      <!-- DISABLE -->
      <a class="buttons {% if house.disable%} disable-button {% endif %}" href="{{ url_for('houses.disable', id = house.id) }}">Disable</a>

    </div>

  </div>
  {% endfor %}

  {% else %}
  <p class="p-3">Not houses yet.</p>
  {% endif %}

</div>

{% endblock %}